/*
  variables.scss - defines all globally used variables
*/

// Colors
$color-white: #fff;
$color-blue: #189ad3;
$color-darkblue: #172B4D;
$color-grey: #ccc;

// Metrics
$metric-x-small: 8px;
$metric-small: 16px;
$metric-base: 24px;
$metric-med: 48px;
$metric-large: 64px;
$metric-x-large: 80px;
$metric-xx-large: 96px;

// Fonts
