@import '../../../common/styles/variables.scss';

.Footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .RoundButton {
        display: flex-end;
        outline: none;
        margin: $metric-med;
        border: 0;
        height: $metric-med*1.5;
        width: $metric-med*1.5;
        border-radius: 50%;
        background-color: $color-blue; 
        cursor: pointer;   
        -webkit-box-shadow: 26px 33px 131px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 26px 33px 131px -5px rgba(0,0,0,0.75);
        box-shadow: 26px 33px 131px -5px rgba(0,0,0,0.75);
    
        .Icon {
            height: $metric-large / 2;
        }
    
        &:hover {
            opacity:0.8;
            background-color: $color-darkblue;
        }
    }

    .RoundButtonClicked{
        background-color: $color-darkblue;
        display: flex-end;
        outline: none;
        margin: $metric-med;
        border: 0;
        height: $metric-med*1.5;
        width: $metric-med*1.5;
        border-radius: 50%;
        background-color: $color-blue;   
        -webkit-box-shadow: 26px 33px 131px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 26px 33px 131px -5px rgba(0,0,0,0.75);
        box-shadow: 26px 33px 131px -5px rgba(0,0,0,0.75);

        .Icon {
            height: $metric-large / 2;
        }

        
        
    }   
}

