/*
  variables.scss - defines all globally used variables
*/
.Footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
}

.Footer .RoundButton {
  display: flex-end;
  outline: none;
  margin: 48px;
  border: 0;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  background-color: #189ad3;
  cursor: pointer;
  -webkit-box-shadow: 26px 33px 131px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 26px 33px 131px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 26px 33px 131px -5px rgba(0, 0, 0, 0.75);
}

.Footer .RoundButton .Icon {
  height: 32px;
}

.Footer .RoundButton:hover {
  opacity: 0.8;
  background-color: #172B4D;
}

.Footer .RoundButton.Clicked {
  opacity: 0.8;
  background-color: #172B4D;
}

.Footer .RoundButton .Popup {
  z-index: 100;
  position: fixed;
  top: 380px;
  right: 140px;
  width: 250px;
  height: 250px;
  padding: 45px;
  color: #fff;
  background-color: #189ad3;
  border-radius: 200px 200px 0px 200px;
  -moz-border-radius: 200px 200px 0px 200px;
  -webkit-border-radius: 200px 200px 0px 200px;
  border: 0px none;
  -webkit-box-shadow: -16px -19px 167px -28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px -19px 167px -28px rgba(0, 0, 0, 0.75);
  box-shadow: -16px -19px 167px -28px rgba(0, 0, 0, 0.75);
}
