/*
  variables.scss - defines all globally used variables
*/
@import url("http://fonts.googleapis.com/css?family=Caveat+Brush&subset=latin,latin-ext");
.Popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  top: 80px;
  left: 550px;
  width: 620px;
  height: 620px;
  padding: 45px;
  color: #fff;
  background-color: #189ad3;
  border: 0px none;
  -webkit-box-shadow: -3px 2px 93px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 2px 93px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 2px 93px 3px rgba(0, 0, 0, 0.75); }
  .Popup h1 {
    font-family: "Caveat Brush", sans-serif; }
  .Popup .Label {
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 24px;
    font-family: "Caveat Brush", sans-serif; }
  .Popup .Input {
    padding: 2px;
    font-size: 24px;
    border: 0;
    color: #189ad3;
    border-radius: 4px;
    font-family: "Caveat Brush", sans-serif; }
  .Popup .buttonsForm {
    display: flex;
    padding-top: 24px;
    justify-content: flex-end; }
    .Popup .buttonsForm .Add {
      border: 0;
      width: 200px;
      height: 40px;
      color: white;
      margin-left: 8px;
      font-size: 16px;
      background-color: #172B4D; }
      .Popup .buttonsForm .Add:hover {
        opacity: 0.8;
        cursor: pointer; }
    .Popup .buttonsForm .Cancel {
      border: 0;
      width: 200px;
      height: 40px;
      color: white;
      margin-left: 8px;
      font-size: 16px;
      background-color: #172B4D; }
      .Popup .buttonsForm .Cancel:hover {
        opacity: 0.8;
        cursor: pointer; }
